<html>
<head>
<style>
h1{
text-align:center;
color:black;
}
.main{
margin:80px;
font-size:20px;
color:blue;
}
#next{
text-align:left;
color:lightblue;
}
img{
width:500px;
height:300px;
}
</style>
</head>
